{% extends 'base.html.twig' %}

{% block title %}Déconnexion{% endblock %}

{% block body %}
    <p>Déconnexion en cours</p>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('logout') }}
{% endblock %}
