{% extends 'base.html.twig' %}

{% block title %}Hollebeque Fabien{% endblock %}

{% block body %}
    <header class="banner">
        <div class="banner-in">
            <h1>Hollebeque Fabien</h1>
            <h4>Développeur Backend Symfony Junior</h4>
            <p>
                Je suis actuellement à la recherche d'un emploi dans le but d'appliquer et d'approfondir mes
                connaissances.
            </p>
        </div>
    </header>
    <section id="about">
        <p>test</p>
        <p>test</p>
        <p>test</p>
        <p>test</p>
        <p>test</p>
    </section>
    <section id="course">
        <p>test</p>
        <p>test</p>
        <p>test</p>
        <p>test</p>
        <p>test</p>
    </section>
    <section id="project">
        <p>test</p>
        <p>test</p>
        <p>test</p>
        <p>test</p>
        <p>test</p>
    </section>
    <section id="contact">
        <p>test</p>
        <p>test</p>
        <p>test</p>
        <p>test</p>
        <p>test</p>
    </section>
{% endblock %}
